<mat-toolbar>
  <span>Omar Fendri's <span class="primary">Blog</span></span>
  <span class="example-spacer"></span>
  <div style="padding-right: 1em">
    <span><mat-icon>facebook</mat-icon></span>
  </div>
  <div>
    <span style="font-style: italic; font-size:0.75em; color: #525252 ">"Compare Yourself To Who You Were Yesterday, Not To Who Someone Else Is Today"</span><br>
    <div class="primary" style="text-align: right; margin-top:-1em"><span style="font-style: italic; font-size:0.7em;">Today's quote <span
      style="font-size:0.7em">{{getDate()}}</span></span></div>
  </div>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
          style="color: #525252">
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>
<button mat-button>Who I Am</button>
<button mat-button>Blog</button>
<button mat-button>Books I Read</button>
<button mat-button>People I Follow</button>
<button mat-button>Contact</button>
