<mat-card style="margin-top: 3em">
  <mat-card-content style="margin: 0 0 0 1.5em">
    <mat-grid-list cols="10" rowHeight="500px" style="margin-bottom: 0.64em">
      <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
      <mat-grid-tile colspan="5" rowspan="1">
        <div>
          <div class="mat-display-1">
            <b>I'm Omar Fendri. I'm a Software Engineer —</b>
          </div>
          <div class="mat-h1">
            I believe my mission is to reach and try to collaborate with pioneers not only to
            transform people's lives but also to impact the future of software development through learning the best
            techniques and sharing knowledge continuously with others.
          </div>
          <div class="mat-h1">
            I like to explore interesting problems then try to solve them by writing code.
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" rowspan="1">
        <div style="padding-bottom: 10em;padding-right: 10em">
          <img width="230" src="../../../../assets/mee.jpg">
        </div>
        <!--        <button mat-stroked-button (click)="downloadMyResume()" style="line-height: 12px; padding: 1em">-->
        <!--          <mat-icon>cloud_download</mat-icon>-->
        <!--          <span style="padding-left: 1em">Download My Resume (CV) <br> <span-->
        <!--            style="font-size: smaller;color: #3286ce; font-style: italic;font-weight: 400;">Last update 03/2021</span></span></button>-->
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
